html, body{
	margin: 0;
	height: 100%;
	background: rgb(26, 24, 24);
}
header{
	width: 40%;
	justify-content: space-between;
	height: 10%;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	display: flex;
	margin-bottom: 1%;
}
main{
	height: 40%;
	width: 100%;
	
	padding-top: 3%;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.board{
	grid-template-columns: auto auto auto;
	position: relative;
	width: 40%;
	height: 100%;
	padding-top: 0;
	margin: auto;
	font-size: 0;
}
.box{
	display: inline-block;
	padding-top: 25%;
	margin: 0;
	width: 25%;
	border: 2px solid white;
}


/* code for borders on board*/
#box0{
	border-left: none;
	border-top: none;
}
#box1{
	border-top: none;
}
#box2{
	border-right: none;
	border-top: none;
}
#box3{
	border-left: none;
}
#box4{
	
}
#box5{
	border-right: none;
}
#box6{
	border-left: none;
	border-bottom: none;
}
#box7{
	border-bottom: none;
}
#box8{
	border-bottom: none;
	border-right: none;
}